body{
    background-image: url("../../img/background.jpg");
    background-color:white;
    overflow: auto;
}

header{
    text-align: center;
}

footer{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 9px;
    text-align: center;
}

.title-large{
    padding-top: 85px;
    color:#df2525;
    font-family: manis;
    font-size:100px;
}

.subtitle-large{
    font-size: 13px;
    padding-bottom: 20px;
}

.title-small{
    padding-top: 25px;
    color: #df2525;
    font-family: manis;
    font-size: 50px;
}

.subtitle-small{
    font-size: 10px;
    padding-bottom: 12px;
}

.registered-successfully{
    text-align: center;
}

.congrats-message{
    color:green;
    text-align:center;
    font-weight: bold;
}

.error-message{
    color:#dc3545;
    text-align: center;
    font-weight: bold;
}

.padding{
    padding-top: 10px;
    
}

@font-face {
    font-family: manis;
    src: url(fonts/Manis\ Banget.otf);
    
}

@font-face {
    font-family: letr;
    src: url(fonts\Circus.ttf);
}