body{
    background-color:white;
    background-image: url("/img/navbar_logo.png");
}

header{
    text-align: center;
}

footer{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: center;
    padding-bottom: 20px;
}

.title-large{
    padding-top: 85px;
    color:firebrick;
    font-family: manis;
    font-size:100px;
}

.subtitle-large{
    font-size: 13px;
    padding-bottom: 20px;
}

.title-small{
    color:firebrick;
    font-family: manis;
    font-size: 50px;
}

.subtitle-small{
    font-size: 10px;
    padding-bottom: 15px;
}

.registered-successfully{
    text-align: center;
}

.padding{
    padding-top: 10px;
}

@font-face {
    font-family: manis;
    src: url(fonts/Manis\ Banget.otf);
}