body{
    background-image: url("../../img/background.jpg");
    background-color:white;
}

header{
    text-align: center;
}

footer{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 9px;
    text-align: center;
}

.title-large{
    padding-top: 85px;
    color:#dc3545;
    font-family: manis;
    font-size:100px;
}

.subtitle-large{
    font-size: 13px;
    padding-bottom: 20px;
}

.title-small{
    padding-top: 25px;
    color: #dc3545;
    font-family: manis;
    font-size: 50px;
}

.subtitle-small{
    font-size: 10px;
    padding-bottom: 12px;
}

.registered-successfully{
    text-align: center;
}

.error-message{
    text-align: center;
    color:#dc3545;
    font-weight: bold;
}

.padding{
    padding-top: 10px;
}

@font-face {
    font-family: manis;
    src: url(fonts/Manis\ Banget.otf);
}