body {
  overflow: auto;
  background-image: url("img/background2.jpg");
  background-position: absolute;
  background-position-y: -2450px;
}

header {
  text-align: center;
}

.title-large {
  padding-top: 105px;
  color: #df2525;
  font-family: manis;
  font-size: 100px;
}

.subtitle-large {
  font-size: 13px;
  padding-bottom: 20px;
}

.title-small {
  padding-top: 35px;
  color: #df2525;
  font-family: manis;
  font-size: 50px;
}

.subtitle-small {
  font-size: 10px;
  padding-bottom: 12px;
}

.registered-successfully {
  text-align: center;
}

.congrats-message {
  color: green;
  text-align: center;
  font-weight: bold;
}

.error-message {
  color: #dc3545;
  text-align: center;
  font-weight: bold;
}

.padding {
  padding-top: 12px;
}

@font-face {
  font-family: manis;
  src: url(fonts/Manis\ Banget.otf);
}

footer {
  text-align: center;
  color: grey;
  font-size: 9pt;
}
